* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: #222;
}

.title {
  color: rgb(255, 255, 255);
}

.card {
  width: 90%;
  max-width: 470px;
  min-height: 550px;
  border-radius: 20px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  padding: 40px 35px;
  text-align: center;
  border: 2px solid rgb(246, 246, 246);
  box-shadow: rgba(0, 0, 0, 0.4) 20px 20px 11px;
}
.search input {
  position: absolute;
  left: 0;
  width: 80%;
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 20px;
  flex: 1;
  padding: 10px 25px;
  height: 100%;
  margin-right: 16px;
  font-size: 18px;
  background-color: #ebfffc;
}

.search button {
  position: absolute;
  right: 0;
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  border-radius: 20px;
  height: 100%;
  width: 18%;
  cursor: pointer;
}
.search button img {
  width: 16px;
}
.box {
  position: relative;
  min-height: 60px;
}

.sentence {
  margin: 120px auto;
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: rgb(148, 162, 192) 2px 2px 11px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
  font-size: 15px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
  font-size: 15px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}
.hidden {
  display: none;
}
.error {
  text-align: center;
  margin-left: 10px;
  font-size: 34px;
  margin-top: 10px;
  color: rgb(211, 211, 211);
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
